<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>D&amp;D Markdown</title>
    <link type="image/png" rel="icon" href="/favicon.png"/>
</head>
<body>
{{body}}
</body>
</html>
